*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;    
    background-color: #003366 ;

}

body
{
    overflow-y: scroll;
}

.slideshow-container{
    padding-top: 10px;
    padding-right: 20PX;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: 'Noto Sans HK', sans-serif;
}

.textOverImage{
    padding-top: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Noto Sans HK', sans-serif;
}

.textOverImage:hover{
    background-size:110%;
}

.piechart_3d{
    background-color: red;
    align-content: center;
    align-items: center;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;    
    font-family: 'Noto Sans HK', sans-serif;    
}

.logo{
    color: rgb(226,226, 226);
    text-transform: uppercase;
    letter-spacing: 5px; 
    font-size: 20px;
}

.nav-links{
    display: flex;    
    justify-content: space-around;
    width: 30%;
}

.nav-links li{
    list-style: none;
}

.logo h4 a
{
    color: rgb(226,226, 226);
    text-decoration: none;
    letter-spacing: 5px;
    font-weight: bold;
    font-size: 20px;
}

.nav-links a{
    color: rgb(226,226, 226);
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: normal;
    font-size: 16px;
}

.burger{
    display: none;
    cursor: pointer;
}

.burger div{
    width: 25px;
    height: 3px;
    background-color: rgb(226,226, 226);
    margin: 5px;
    transition: all  0.3s ease;
}

.toggle .line1{
    transform: rotate(-45deg) translate(-5px,6px);
}

.toggle .line2{
    opacity: 0;
}

.toggle .line3{
    transform: rotate(45deg) translate(-5px,-6px);
}

section {
    width: 80%;
    height: 910px;
    background: white;
    margin: auto;
    padding: 10px;
}

div#one {
    width: 50%;
    height: 450px;
    background: #2b77f2;
    float: left;
}
div#two {
    margin-left: 50%;
    height: 450px;
    background: #003366;
    color: white;
}
div#three {
    width: 50%;
    height: 440px;
    background: #003366;
    float: left;
}
div#four {
    margin-left: 50%;
    height: 440px;
    background: #2b77f2;
}

@media screen and (max-width: 1024px){
    .nav-links{       
        width: 60%;
    }
}

@media screen and (max-width:768px){     
    
    .wraparound{ 
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;       
        margin-left: 0px;
    }

    .container{
        margin-left: 0%;
    }

    .body{
        overflow-x: hidden;
    }

    .slideshow-container{             
        display: none;
    }
    .nav-links{
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: #003366  ;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
    }
    .nav-links li{
        opacity: 0;
    }
    .burger{
        display: block;
    }
}

.nav-active{
    transform: translateX(0%);
}

@keyframes navLinkFade{
    from
    {
        opacity: 0;
        transform: translateX(50px);
    }
    to
    {
        opacity: 1;
        transform: translateX(0px);
    }
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .2} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .2} 
  to {opacity: 1}
}



a{text-decoration:none;}
/*Add the following compatibility code for IE as you can't animate background-size in IE*/
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active){
	.textOverImage{background-size:cover!important;}
}



.wraparound{
    width: 70%;
    height: auto;
    background: #003366;    
    padding-top: 10px;
    margin-left: 260px;

    /*flexbox style*/
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-flow: wrap;
}

.box{
    width: 300px;
    height: 300px;
    background: yellow;
    margin: 10px;
    box-sizing: border-box;
    font-size: 50px;
}

.textOverImage{   
    position:relative;
    width:300px; /*700px both*/
    height:300px;
    display: inline-block;
    margin:4px;
    background-size:112%;
    background-position:center;
    transition:0.5s;
    overflow:hidden;
    border-radius:4px;
    box-shadow:0 0 4px #000;
  }
  
  .textOverImage:hover{    
    background-size:117%;
  }
  
.textOverImage:before{
  position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    transform:translateY(100%);
    background-color:rgba(0,0,0,0.3);
    color:#fff;
    padding:0 8px;
    content:attr(data-title);
    transition:0.5s 0.1s;
    color:#fff;
    font-weight:bold;
    font-size:1.5em;
}

  .textOverImage:after{
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    color:#fff;
    padding:8px;
    content:attr(data-text);
    transition:0.5s;
    padding-top:0px;
    margin-top:8px;
    transform:translateY(100%);
    opacity:0;
  }
  
  .textOverImage:hover:after{
    transform:translateY(0);
    transition:0.5s 0.1s;
    opacity:1;
  }
.textOverImage:hover:before{
    transform:translateY(0);
    padding:8px;
    background-color:rgba(0,0,0,0.6);
    transition:0.5s;
}

/*demo*/
.col {
    width:30%;
    margin:10% auto;
}
.ne-nutrition-distribution {
    border:1px solid gray;
    position: relative;
    padding-bottom: 80%;
    height: 0;
    overflow:hidden;
}
.ne-nutrition-distribution__chart {
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    height:100%;
}
/*demo end*/


/*table*/

#customers {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
  }
  
  #customers td, #customers th {
    background-color: white;
    border: 1px solid white;
    padding: 8px;
  }    
  
  #customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
  }
  

